.projects-section {
    padding: 4rem 10%;
    background: linear-gradient(135deg, #969696);
  }
  
  .title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  
  .project-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
  }
  
  .project-card {
    text-align: center;
    background: #fff;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .project-img {
    width: 100%;
    border-radius: 1rem;
    border: 2px solid #ccc;
  }
  
  .project-title {
    margin: 1rem 0;
  }
  
  .project-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
  }
  
  .project-button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .project-button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
  }
  
  @media (max-width: 768px) {
    .project-card {
      max-width:100%;
    }
}