.contact-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 4rem 10%;
    background-color: #f9f9f9;
  }
  
  .contact-info-container {
    margin-bottom: 2rem;
    text-align: center;
  }
  
  .contact-info-container p {
    font-size: 1.2rem;
    color: #777;
  }
  
  .contact-info-container h1 {
    font-size: 2.5rem;
    color: #333;
  }
  
  .btn-container {
    display: flex;
    justify-content: center;
  }
  
  .contact-button {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 25px;
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .contact-button .icon {
    margin: 0 10px;
  }
  
  .contact-button span {
    font-size: 1rem;
    color: #333;
  }
  